html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

html,
body {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

body {
  font-family: $font-family;
  font-size: $font-size;
}

.container {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  cursor: pointer;
  padding: 2em;
}

h1,
p {
  text-align: center;
}

p {
  margin-bottom: 2em;
  padding: 0 2em;

  code {
    background: $border-color;
    border-radius: $border-radius;
    margin: auto 0.5em;
    padding: 0.5em;
  }
}
