html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

html,
body {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

body {
  font-family: $font-family;
  font-size: map-get($font-sizes, 'base');
}

.container {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 0 $spacer $border-color;
  box-sizing: border-box;
  cursor: pointer;
  padding: 2em;
}

.heading,
.text {
  text-align: center;
}

.text {
  margin-bottom: 2em;
  padding: 0 2em;

  code {
    background: $border-color;
    border-radius: $border-radius;
    display: inline-block;
    margin: 0.25em 0.5em;
    padding: 0.5em 0.75em;
    word-break: keep-all;
  }
}
