@use 'sass:math';

.name,
.job-title,
.contact {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  text-align: left;
}

.name,
.job-title,
.contact {
  color: $text-color;
}

.job-title,
.contact {
  font-size: map-get($font-sizes, 'small');
  line-height: map-get($font-sizes, 'normal');
}

.name {
  font-size: map-get($font-sizes, 'normal');
  font-weight: bold;
  line-height: map-get($font-sizes, 'base');
  margin-bottom: math.div($spacer, 2);
}

.job-title {
  margin-bottom: 2 * $spacer;
}

.logo {
  display: block;
  margin-bottom: 2 * $spacer;
}

.contact {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  & + & {
    margin-top: $spacer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    display: block;
    margin-right: $spacer;
  }
}
